In [ ]:
nums = [12, 7, 25, 30, 18, 5, 42, 11, 9, 20, 33, 27,9,45, 8, 16]

In [ ]:
Square = [x**2 for x in nums]
Square

[144, 49, 625, 900, 324, 25, 1764, 121, 81, 400, 1089, 729, 2025, 64, 256]

In [ ]:
Even = [x for x in nums if x % 2==0]
Even

[12, 30, 18, 42, 20, 8, 16]

In [ ]:
Greater_num = [x for x in nums if x > 20]
Greater_num

[25, 30, 42, 33, 27, 45]

In [ ]:
odd_even = ['Even' if x % 2 == 0 else 'Odd' for x in nums ]
print(odd_even)

['Even', 'Odd', 'Odd', 'Even', 'Even', 'Odd', 'Even', 'Odd', 'Odd', 'Even', 'Odd', 'Odd', 'Odd', 'Even', 'Even']

In [ ]:
division = [x/5 for x in nums]
division

[2.4, 1.4, 5.0, 6.0, 3.6, 1.0, 8.4, 2.2, 1.8, 4.0, 6.6, 5.4, 9.0, 1.6, 3.2]

In [ ]:
list_of_tuples = [(x,x*2) for x in nums]
list_of_tuples

[(12, 24),
 (7, 14),
 (25, 50),
 (30, 60),
 (18, 36),
 (5, 10),
 (42, 84),
 (11, 22),
 (9, 18),
 (20, 40),
 (33, 66),
 (27, 54),
 (45, 90),
 (8, 16),
 (16, 32)]

In [ ]:
extract_first = [str(x)[0] for x in nums]
extract_first

['1', '7', '2', '3', '1', '5', '4', '1', '9', '2', '3', '2', '4', '8', '1']

In [ ]:
digit_sum = [sum(int(d) for d in str(x)) for x in nums]
digit_sum

[3, 7, 7, 3, 9, 5, 6, 2, 9, 2, 6, 9, 9, 8, 7]

In [ ]:
unique = list(dict.fromkeys(nums))
print('Orginal list:', nums)
print('unique list:',unique)

Orginal list: [12, 7, 25, 30, 18, 5, 42, 11, 9, 20, 33, 27, 9, 45, 8, 16]
unique list: [12, 7, 25, 30, 18, 5, 42, 11, 9, 20, 33, 27, 45, 8, 16]

In [ ]:
stringify = ", ".join([f"Num_{x}" for x in nums])
stringify

'Num_12, Num_7, Num_25, Num_30, Num_18, Num_5, Num_42, Num_11, Num_9, Num_20, Num_33, Num_27, Num_9, Num_45, Num_8, Num_16'

#User Defined Function

In [ ]:
def my_func():
  return [x for x in nums if x % 2 ==0]

In [ ]:
my_func()

[12, 30, 18, 42, 20, 8, 16]

In [ ]:
def max_of_three(a,b,c):
  if a>=b and a>=c:
    return a
  if b>=a and b>=c:
    return b
  else:
    return c

In [ ]:
max_of_three(12,15,9)

15

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

In [ ]:
factorial(5)

120

In [ ]:
def reversed_string(s):
  return s[::-1]

In [ ]:
reversed_string('Python')

'nohtyP'

In [ ]:
reversed_string('Hello')

'olleH'