In [ ]:
#Import Libraries
import fsspec
import pandas as pd
import matplotlib.pyplot as plt

#Loading data
df = pd.read_csv("hf://datasets/lukebarousse/data_jobs/data_jobs.csv")

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
df.iloc[0:10, 5]  ##Integer based indexing
## df.iloc[0] looking at the first row & [0:10] looking at first 10 rows & df.iloc[0:10, 5] 
# gives the first 10 rows along with the 5th column

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7     True
8    False
9     True
Name: job_work_from_home, dtype: bool

In [ ]:
df.loc[0:10, 'salary_rate':'salary_hour_avg'] #Pretty much same as iloc but here we can give 
#the names of the columns (by slicing method) we want to look at making it more useful then the iloc

   salary_rate  salary_year_avg  salary_hour_avg
0          NaN              NaN              NaN
1          NaN              NaN              NaN
2          NaN              NaN              NaN
3          NaN              NaN              NaN
4          NaN              NaN              NaN
5          NaN              NaN              NaN
6          NaN              NaN              NaN
7          NaN              NaN              NaN
8          NaN              NaN              NaN
9          NaN              NaN              NaN
10         NaN              NaN              NaN